

<div>
	<div id="menu" class="menu">
		<ul style="list-style-type: none;">
			<li><a href="Index">Hjem</a></li>
			<li><a href="About">Om</a></li>
			<li><a href="Portfolio">Portfolio</a></li>
			<li><a href="Contact">Kontakt</a></li>
		</ul>
	</div>

	<div id="main">

	</div>
</div>