
<div class="screen_container">
	<div id="menu" class="menu">

		<div>
			<h1>aaa</h1>
		</div>

		<span id="Home" onclick="main_display(this.id)">Home</span>
		<span id="About" onclick="main_display(this.id)">About</span>
		<span id="Portfolio" onclick="main_display(this.id)">Portfolio</span>
		<span id="Contact" onclick="main_display(this.id)">Contact</span>
	</div>

	<div id="main" class="main">

	</div>
</div>