html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #100f0f;
    color: aliceblue;
}

html, body {
    height: 100%;
    margin: 0;
}

.screen_container {
    display: flex;
    height: 100%;
}

.menu{
    flex: 0 0 auto;
    width: 15%;
    background-color: #191616;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

    .menu span {
        flex: 0.08;
        font-size: 2em;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .menu span:hover{
        background-color: crimson;
    }

.main {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu_image{
    text-align:center;
}

.menu_footer{
    text-align: center;
}

.dark_mode{
    background-color: #ffffff;
    color: #000000;
}

    .dark_mode .menu {
        background-color: #6a7081;
        color: #000000;
    }
    .dark_mode span {
        color: #000000;
    }
    .dark_mode .menu_footer {
        color: #000000 !important;
    }

i {
    cursor: pointer;
}