@page
@model Cliff_Portfolio.Pages.AboutModel
@{
}

<div>
	<p style="white-space: pre-line;">
		This workflow's approach to making a creature is done the way I find makes the most sense, is the simplest, as well as takes into account most of the things you'd want for a creature.
		First off we will start making a high-poly mesh, which will then be retopologized to create a low-poly version of it.
		We will add a multiresolution modifier to the low-poly mesh, and sculpt the last details onto that multiresolution.
		Next, if the creature needs equipment or accessories, this is a good time to add them as seperated objects.
		After that, we will proceed to add the armature and blend shapes, and adjust the weight painting. However, we will not be animating the creature in Blender, that will be done in Unreal Engine.
		The creature will be UV unwrapped and vertex painted, and then it's ready for export to Substance Painter.
		Lastly, if needed, which it most likely will be, we will explode the mesh, so that common artifacts will be avoided when baking it in Substance Painter. Making a cage file
		could also be necessary for this step.
	</p>
</div>